$background-yellow: #EBB85D;
$backgroud-grey: #3E3F40;
$text-light: #fff;
$text-dark: #000;
$font: helvetica, arial;
$container-padd: 5%;
$subtitle-size: 1.5em;
$text-size: .8em;



@function col($n) {
  @return  100% * $n/12;
}
